#projectDetailsCard {
  background-color: var(--xiketic-main-BG);
}

.list-group-mine .list-group-item {
  background-color: var(--xiketic-main-BG);
  color: var(--main-font-color);
}

.card-link {
  text-decoration: none;
}
