.skillsSection {
  background-color: var(--slateGray-accentColor-main);
}

.underline {
  border-bottom: var(--main-font-color) 5px solid;
}

.imgLogo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media (prefers-reduced-motion: no-preference) {
  .spinningReactLogo {
    animation: spinningReactLogo-spin infinite 20s linear;
  }
}

@keyframes spinningReactLogo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
