.aboutSection {
  background: url(../img/coding_background_image.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--main-font-color);
}

.imgPortrait {
  border-radius: 60%;
}

.imgLogo,
.imgPortrait {
  max-width: 50%;
  height: auto;
}

.underline {
  border-bottom: var(--main-font-color) 5px solid;
}
