.contactMe {
  background-color: var(--slateGray-accentColor-main);
}

.to-top {
  color: white;
  padding-top: 1.8em;
  display: inline-block; /* or block */
  position: relative;
  border-color: white;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.to-top:before {
  content: '▲';
  font-size: 0.9em;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -0.7em;
  border: solid 0.13em white;
  border-radius: 10em;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.3em;
  border-color: inherit;
  transition: transform 0.5s ease-in;
}
.to-top:hover {
  color: var(--main-font-color);
  border-color: var(--main-font-color);
}
.to-top:hover:before {
  transform: rotate(360deg);
}

/* TODO find why style is being overwritten */
.modal-content {
  background-color: var(--xiketic-main-BG) !important;
}
