:root {
  /* Color Palette */
  --xiketic-main-BG: #0f0f0f;
  --slateGray-accentColor-main: #23282b;
  --main-font-color: #ffffff;

  /* Typography */
  --typography: 'Roboto', sans-serif;
}

/* Jumbotron */
.jumbotron {
  height: 100vh;
  background-color: var(--xiketic-main-BG);
}

.jumbotron h1 {
  color: var(--main-font-color);
}

.jumbotronContents {
  width: 65%;
}
