@import '../node_modules/normalize.css/normalize.css';

:root {
  /* Color Palette */
  --xiketic-main-BG: #0f0f0f;
  --slateGray-accentColor-main: #23282b;
  --main-font-color: #ffffff;

  /* Typography */
  --typography: 'Roboto', sans-serif;
}

* html {  
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: var(--typography);
  background-color: var(--slateGray-accentColor-main);
}

h1,
h2,
h5 {
  font-weight: 500;
  color: var(--main-font-color);
}

p {
  font-weight: 300;
}

/* Responsive Typography */

@media screen and (min-width: 320px) {
  html {
    font-size: 16px;
  }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
    p {
      font-size: calc(18px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 22px;
    }
  }
}
